.book-container {
  display: flex;
  flex-direction: column;
  font-family: "inter";
  letter-spacing: -1px;
  gap: 6px;

  img {
    width: 157px;
    min-height: 220px;
    max-height: 220px;
    object-fit: contain;
  }

  h1 {
    font-weight: 300;
    font-size: 14px;
  }

  p {
    font-weight: 100;
    font-size: smaller;
  }

  .book-price {
    font-weight: 200;
    font-size: 14px;
  }
}
