nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "lora", serif;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 2vh;

  h1 {
    font-size: 2.5em;
    margin: 0;
    padding: 1em;
    color: #333;
    letter-spacing: -3px;
    font-weight: 700;
  }
}

ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
  }
}
