.container-bookPage {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.bookpage-image {
  img {
    width: 400px;
    height: 500px;
    object-fit: contain;
  }
}

.bookpage-details {
  width: 500px;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 2.3em;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -1px;
  }

  h3,
  .bookpage-price {
    font-family: "inter", sansnerif;
    font-size: 1.5em;
    font-weight: lighter;
    letter-spacing: -1px;
    font-style: italic;
  }

  .bookpage-price {
    font-size: 1.4em;
    margin-top: 5px;
  }

  button {
    background-color: black;
    border: none;
    padding: 1em 2em;
    color: white;
    margin-top: 10px;
    width: fit-content;
    font-family: inherit;
    align-self: flex-end;

    &:hover {
      background-color: #333;
      cursor: pointer;
    }
  }
}

.bookpage-description {
  background-color: rgba(243, 243, 243, 0.616);
  padding: 1.5em;
  border-radius: 2px;
  margin-top: 2vh;
  min-height: 200px;
  max-height: 280px;
  overflow-y: scroll;
  width: 450px;

  p {
    color: #333;
    letter-spacing: -0.4px;
  }

  h5 {
    font-size: 1em;
    margin-bottom: 10px;
    color: grey;
    font-family: "inter", sans-serif;
    letter-spacing: -2px;
    font-style: italic;
  }
}
