.book-container {
  display: flex;
  flex-direction: column;
  font-family: "inter";
  letter-spacing: -1px;
  gap: 6px;

  img {
    min-width: 150px;
    max-width: 150px;
    min-height: 220px;
    max-height: 220px;
    object-fit: cover;
  }

  h1 {
    font-weight: 300;
    font-size: 14px;
    width: 150px;
  }

  p {
    font-weight: 100;
    font-size: smaller;
  }

  .book-price {
    font-weight: 200;
    font-size: 14px;
  }

  .price-and-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  button {
    background-color: red;
    border: none;
    width: fit-content;
    height: fit-content;
    background-color: black;
    padding: 5px 10px;
    margin-right: 10px;
    margin-top: 2px;
    cursor: pointer;
    border-radius: 2px;
  }
}
