.book-form-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 2rem;
  background-color: #fefefe;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

  h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: #333;
  }
}

.book-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  input,
  textarea,
  select {
    letter-spacing: -1px;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.2s ease;

    &:focus {
      border-color: #000000;
    }
  }

  textarea {
    resize: vertical;
    min-height: 100px;
  }

  button {
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s ease;
    letter-spacing: -1px;
    background-color: black;
    color: white;

    &:hover {
      background-color: #535353;
    }
  }
}
