.container-bookPage {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  padding: 1em 2em;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 5vh;
  align-items: center;
}

.bookpage-image {
  img {
    height: 500px;
    object-fit: contain;
  }
}

.bookpage-details {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  margin-right: 3%;
  margin-left: 3%;

  h1 {
    font-size: 2.3em;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -1px;
  }

  h3,
  .bookpage-price {
    font-family: "inter", sans-serif;
    font-size: 1.5em;
    font-weight: lighter;
    letter-spacing: -1px;
    font-style: italic;
  }

  .bookpage-price {
    font-size: 1.4em;
    margin-top: 5px;
  }

  button {
    background-color: black;
    border: none;
    padding: 0.8em 2em;
    color: white;
    margin-top: 10px;
    width: fit-content;
    font-family: inherit;
    align-self: flex-end;
    font-size: 1em;

    &:hover {
      background-color: #333;
      cursor: pointer;
    }
  }
}

.bookpage-description {
  background-color: rgba(243, 243, 243, 0.616);
  padding: 1.5em;
  border-radius: 2px;
  margin-top: 2vh;
  min-height: 200px;
  max-height: 280px;
  overflow-y: scroll;
  width: 30vw;

  p {
    color: #333;
    letter-spacing: -0.4px;
    font-size: 1.1em;
  }

  h5 {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: grey;
    font-family: "inter", sans-serif;
    letter-spacing: -2px;
    font-style: italic;
  }
}

@media (max-width: 768px) {
  .container-bookPage {
    flex-direction: column;
    align-items: center;
    padding: 3em 2em;
  }

  .bookpage-image {
    img {
      height: auto;
      max-height: 300px;
    }
  }

  .bookpage-details {
    margin-top: 1.5vh;

    h1 {
      font-size: 1.5em;
      text-align: center;
    }

    h3,
    .bookpage-price {
      font-size: 1.1em;
      text-align: center;
    }

    .bookpage-price {
      margin-top: 3px;
      text-align: center;
    }

    button {
      width: 90%;
      padding: 0.8em;
      font-size: 0.9em;
      margin: 0 auto;
      margin-top: 15px;
    }
  }

  .bookpage-description {
    width: 60vw;
  }
}
