.container-catalog {
  display: flex;
  flex-direction: column;
}

.book-list-display {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  gap: 10px;

  button {
    background-color: black;
    color: white;
    border: none;
    padding: 0.5rem 0.8rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8em;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #333;
    }

    &.active {
      font-weight: bold;
    }
  }
}

@media (max-width: 768px) {
  .container-catalog {
    align-items: center;
  }

  .book-list-display {
    justify-content: center;
    gap: 1rem;
  }

  .pagination {
    margin-top: 3em;
    gap: 6px;

    button {
      padding: 0.4rem 0.7em;
      font-size: 1em;
      font-family: inherit;
    }
  }
}
