.cart-page {
  width: 92%;
  margin: 4vh auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2vh;

  h1 {
    font-size: 1.5em;
    font-style: italic;
  }
}

.container-cartPage {
  display: flex;
  gap: 2vw;
}

.cart-display {
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-width: 55vw;
  max-width: 55vw;
  height: 65vh;
  max-height: 65vh;
  overflow-y: auto;
  box-sizing: border-box;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 4px;
  padding-top: 2em;
  padding-bottom: 2em;
  align-items: center;
}

.cart-item {
  display: flex;
  border-bottom: 1px solid rgba(230, 230, 230, 0.815);
  padding-bottom: 1em;
  gap: 1;
  width: 88%;

  img {
    width: 100px;
    height: 140px;
    border-radius: 4px;
  }

  .cart-item-info {
    display: flex;
    gap: 0.5em;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-left: 5px;

    h2 {
      font-size: 1.2em;
      font-style: italic;
    }

    .author-cart {
      font-size: 1em;
      font-style: italic;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.1em;
      font-family: "inter", sans-serif;
      letter-spacing: -2px;
      font-weight: lighter;
    }

    button {
      width: fit-content;
      padding: 0.5em 1em;
      border: none;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 0.3s ease;
      background-color: white;
      border: 1px solid black;
      color: black;
      font-family: inherit;

      &:hover {
        background-color: #000000;
        color: white;
      }
    }
  }
}

.order-summary {
  border: 1px solid rgb(211, 211, 211);
  height: fit-content;
  min-width: 30vw;
  padding: 1.5em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.2em;

  h2 {
    font-size: 1.5em;
    font-style: italic;
  }

  button {
    background-color: black;
    border: none;
    padding: 10px;
    color: white;
    font-size: 0.9em;
    font-family: inherit;
    border-radius: 2px;
    width: 60%;
    align-self: flex-end;
    margin-top: 15px;
    cursor: pointer;
  }

  p {
    font-family: "inter", sans-serif;
    font-weight: lighter;
    letter-spacing: -1px;
  }
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;
}

.order-summary-details {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  margin-top: 10px;

  div {
    display: flex;
    flex-direction: column;
  }

  .subtotal,
  .frete {
    color: rgb(37, 37, 37);
    font-size: 1.1em;
  }

  .cart-total {
    text-align: end;
    font-size: 1.4em;
    margin-top: 20px;
  }

  .frete-gratis-msg {
    color: rgb(37, 37, 37);
    font-size: 1.1em;
    margin-top: 10px;
    width: 70%;
  }
}

@media (max-width: 768px) {
  .container-cartPage {
    flex-direction: column;
    gap: 2vh;

    .cart-display {
      min-width: 100%;
      max-width: 100%;
      height: auto;
      padding: 2em 2em;
    }

    .order-summary {
      text-align: center;
      min-width: 100%;
      width: 100%;
      padding: 2em 0;
      border-radius: 6px;

      button {
        width: 70%;
        margin: 0 auto;
        margin-top: 20px;
        border-radius: 4px;
      }
    }

    .cart-total {
      text-align: center;
      margin-top: 5px;
    }
  }

  .cart-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    text-align: center;

    img {
      width: 100px;
      height: auto;
    }

    .cart-item-info {
      letter-spacing: 0;
      margin-left: 5px;
      display: flex;
      flex-direction: column;
      gap: 1em;

      h2 {
        font-size: 1.1em;
      }

      .author-cart {
        font-size: 0.9em;
        margin-bottom: 8px;
        letter-spacing: -1px;
      }

      p {
        font-size: 1em;
        letter-spacing: -1px;
      }

      button {
        padding: 0.4em 2em;
        border-radius: 0;
      }
    }
  }

  .order-summary-details {
    .frete-gratis-msg {
      width: 90%;
      margin: 10px auto;
    }
  }
}
