.featured-collection {
  h1 {
    font-size: 1.4em;
    border-bottom: 1px solid #ccc;
    width: fit-content;
    font-style: italic;
    margin-bottom: 15px;
  }
}

.featured-book-list-display {
  display: flex;
  flex-wrap: wrap;

  .swiper-slide {
    width: 175px;
    display: flex;
  }

  .swiper-pagination {
    display: flex;
    justify-content: center;
    gap: 2px;
    display: none;

    .swiper-pagination-bullet {
      width: 5px;
      height: 5px;
      background: #ccc;
      border-radius: 50%;
      opacity: 0.6;
      transition: all 0.3s ease;

      &.swiper-pagination-bullet-active {
        background: #333;
        opacity: 1;
        transform: scale(1.2);
      }
    }
  }
}

@media (max-width: 768px) {
  .featured-book-list-display {
    display: flex;
    flex-wrap: wrap;
  }

  .featured-book-list-display .swiper-slide {
    width: 35%;
    margin-bottom: 5px;
  }

  .swiper {
    height: fit-content;
  }

  .swiper-slide {
    height: fit-content;
    margin-bottom: 0;
  }
}
