.genre-container {
  min-height: 55vh;

  .book-list {
    display: flex;
    gap: 1rem;
    width: 93%;
    margin: 0 auto;
    margin-top: 5vh;
    flex-wrap: wrap;

    img {
      width: 120px;
      height: 170px;
      object-fit: cover;
    }
  }
}
