.my-orders {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  text-align: center;

  h1 {
    margin-bottom: 1.5em;
    font-size: 1.4rem;
    font-style: italic;
    border-bottom: 1px solid #ccc;
    width: fit-content;
    margin-left: 5%;
    margin-top: 3vh;
  }
}

.container-orders {
  display: flex;
  flex-direction: column;
  margin: 0 5%;
  gap: 2em;

  .order {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #ccc;
    padding: 2em 0;

    .order-header {
      display: flex;
      justify-content: space-between;
      margin: 0 5%;
      text-align: right;
      font-family: "inter", sans-serif;
      letter-spacing: -1.2px;
      font-weight: lighter;
      font-style: italic;
      margin-bottom: 10px;

      .order-index {
        font-style: italic;
        margin-top: -2px;
        font-weight: 200;
      }

      .order-id {
        display: flex;
        gap: 5px;
      }
    }

    .order-body {
      display: flex;
      flex-direction: column;
      gap: 1em;

      .product {
        display: flex;
        gap: 1em;
        margin: 0 4%;
        border-radius: 8px;
        border: 1px solid #ccc;
      }

      .product-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;

        .product-title {
          font-size: 1.6em;
          font-style: italic;
          font-weight: lighter;
        }

        .product-author {
          font-size: 1.15em;
          font-family: "inter", sans-serif;
          letter-spacing: -1.2px;
          font-weight: lighter;
          font-style: italic;
          color: #333;
        }

        .product-price {
          font-size: 1.3em;
          margin-top: 10px;
          font-family: "inter", sans-serif;
          letter-spacing: -1.2px;
          font-weight: lighter;
        }
      }
    }

    img {
      width: 120px;
      height: 180px;
      object-fit: cover;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .order-footer {
      display: flex;
      margin: 0 5%;
      margin-top: 2vh;

      h3 {
        width: 100%;
        text-align: right;
        font-size: 1.4em;
        font-family: "inter", sans-serif;
        letter-spacing: -1.2px;
        font-weight: lighter;
        font-style: italic;
      }
    }
  }
}

@media (max-width: 768px) {
  .container-orders {
    .order {
      img {
        width: 110px;
        height: 160px;
      }

      .order-body {
        .product {
          gap: 1.5em;
        }

        .product-info {
          .product-title {
            font-size: 1.2em;
          }

          .product-author {
            font-size: 1em;
          }

          .product-price {
            font-size: 1.1em;
          }
        }
      }

      .order-footer h3 {
        font-size: 1.2em;
      }
    }
  }
}
