.order-list {
  list-style: none;
  padding: 0;
  text-align: left;
  width: 95%;
  margin: 0 auto;
  min-height: 50vh;
  align-items: first baseline;
  flex-wrap: wrap;

  > li {
    position: relative;
    padding: 30px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    width: 400px;
    min-height: 300px;

    button {
      position: absolute;
      top: 25px;
      right: 15px;
      background: transparent;
      border: none;
      font-size: 1.2rem;
      font-weight: bold;
      cursor: pointer;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.2);
      }
    }

    p {
      margin-bottom: 10px;
      font-size: 0.95rem;

      strong {
        font-weight: 600;
        font-style: italic;
        font-size: larger;
      }
    }
  }
}

.products-header {
  font-size: 1rem;
  font-weight: bold;
}

.product-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .product-item {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    margin-top: 10px;
  }
}

.no-orders {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  min-height: 30vh;
}
