.order-list {
  list-style: none;
  padding: 0;
  text-align: left;
  width: 95%;
  margin: 0 auto;
  min-height: 50vh;

  > li {
    padding: 30px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    width: 400px;

    p {
      margin-bottom: 10px;
      font-size: 0.95rem;

      strong {
        font-weight: 600;
        font-style: italic;
        font-size: larger;
      }
    }
  }
}

.products-header {
  font-size: 1rem;
  font-weight: bold;
}

.product-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .product-item {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    margin-top: 10px;
  }
}
