.genresbar {
  button {
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    transition: font-style 0.2s ease, transform 0.2s ease;
    cursor: pointer;

    &.active {
      font-style: italic;
      transform: scale(1.02);
      text-decoration: underline;
    }
  }
}
